POLYGON_RPC=
POLYMARKET_START_BLOCK=33605403

# Betfair
BETFAIR_USERNAME=
BETFAIR_PASSWORD=
BETFAIR_APP_KEY=
BETFAIR_CERT_FILE=
BETFAIR_KEY_FILE=

# Smarkets
SMARKETS_API_TOKEN=
SMARKETS_API_ENABLED=false
SMARKETS_API_BASE_URL=https://api.smarkets.com
